<div id="background-img-left-border"></div>
<div id="header" class="mb-3">
    <div class="logo-title ">
        <a href="/">
            <img class="img-logo" src="/img/logo.png" alt="logo Mundo Sapien" />
            <h1>
                MUNDO <br />
                SAPIEN
            </h1>
        </a>
    </div>
    <div class="search ">
        <input type="search" name="main-search" id="main-search" placeholder="Busca clases, temas o profesores" />
        <button type="submit"><i class="fas fa-search"></i></button>
    </div>
    <!-- BUG IF USER IS PARENT -->
    <% if(user){ %>
    <nav class="nav-bar ">
        <div id="cart">
            <a class="position-relative " href="/sale/cart"><i class="fas fa-shopping-cart">
                    <!-- <span class="position-absolute start-100 translate-middle badge rounded-pill bg-danger">
            <%= locals.inCart %> 
            </span><span class="visually-hidden">unread messages</span> -->
                </i></a>
        </div>
        <div id="profile">
            <a href=<%=// `/user/profile` %>><img class="img-header" src="/img/avatars/<%=// profile.avatar %> "
                    alt="parent avatar"></a>
        </div>
        <div>
            <a href="/user/changeUser"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </nav>
    <% } else if(profiles) { %>
    <nav class="nav-bar ">
        <div id="notifications">
            <a href=""><i class="fas fa-inbox"></i></a>
        </div>
        <div id="profile">
            <a href=<%= `/user/profile` %>><img class="img-header" src="/img/avatars/<%= childLogged.avatar %> "
                    alt="child avatar"></a>
        </div>
        <div>
            <a href="/user/changeUser"><i class="fas fa-sign-out-alt"></i></a>
        </div>
    </nav>
    <% } else if (user){%>
    <nav class="nav-bar justify-content-center">
        <form action="/user/logout" method="get">
            <button class="btn btn-primary btn-lg " type="submit">Cerrar
                sesión</button>
        </form>
        <div class="text-start mx-2">
            <% if(errors && errors.invalidLogIn) { %>
            <p class="feedback">Contraseña parental incorrecta</p>
            <% } %>
        </div>
    </nav>
    <% } %>
    <div id="background-img-under-search-bar"></div>
</div>