<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="http://fonts.cdnfonts.com/css/gotham" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap"
            rel="stylesheet"
        />

        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="./css/normalize.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/aux-style.css" />

        <title>Mundo Sapien</title>
    </head>
    <body>
        <%- include("./partials/header") %>
        <main>
            <div id="cart-main">
                <div class="padding-10" id="cart-details">
                    <h2 class="padding-10">
                        Mi carrito <i class="fas fa-shopping-cart"></i>
                    </h2>
                    <p class="padding-10">
                        <%= enCarrito.length %> cursos en carrito
                    </p>
                    <% for(let cursoEnCarrito of enCarrito){ %>
                    <div class="cart-course">
                        <div class="inner-border padding-10">
                            <div class="cart-course-details padding-10">
                                <img
                                    class="width300 padding-10"
                                    src="<%=cursoEnCarrito.preview%>"
                                    alt="picture placeholder"
                                />
                                <div class="cart-course-data padding-10">
                                    <h3>
                                        <%= cursoEnCarrito.nombre + " en " +
                                        cursoEnCarrito.materia %>
                                    </h3>
                                    <h3><%=cursoEnCarrito.grado %></h3>
                                    <h4>
                                        <%=cursoEnCarrito.profesor.nombre + " "
                                        + cursoEnCarrito.profesor.apellido %>
                                    </h4>
                                    <div>
                                        <% let stars = 0%> <% for(let i = 0; i <
                                        Math.floor(cursoEnCarrito.rating); i++){
                                        stars++; %>
                                        <i class="fas fa-star"></i>
                                        <% } %> <% if(cursoEnCarrito.rating % 1
                                        !== 0) { stars++; %>
                                        <i class="fas fa-star-half-alt"></i>
                                        <% } %> <% for(let i = 0; i < 5 - stars
                                        ; i++){ %>
                                        <i class="far fa-star"></i>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                            <div class="price-and-options padding-10">
                                <span
                                    ><%="$" + cursoEnCarrito.precio.toFixed(2)
                                    %></span
                                >
                                <div>
                                    <p>eliminar</p>
                                    <p>guardar en favoritos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% } %>

                    <div class="pay">
                        <div class="inner-border padding-10">
                            <p>Total</p>
                            <p>
                                $<%= enCarrito.reduce((a, b) => a.precio +
                                b.precio).toFixed(2) %>
                            </p>
                            <button type="submit">Pagar</button>
                        </div>
                    </div>
                </div>
                <div class="cart-recomendations">
                    <h3>También podría gustarte...</h3>

                    <% for(let recommendation of recommendations){ %>

                    <div>
                        <img
                            class="width300 padding-10"
                            src="<%=recommendation.preview %>"
                            alt="picture placeholder"
                        />
                        <div>
                            <p><%= recommendation.nombre %></p>
                            <div>
                                <% let stars = 0%> <% for(let i = 0; i <
                                Math.floor(recommendation.rating); i++){
                                stars++; %>
                                <i class="fas fa-star"></i>
                                <% } %> <% if(recommendation.rating % 1 !== 0) {
                                stars++; %>
                                <i class="fas fa-star-half-alt"></i>
                                <% } %> <% for(let i = 0; i < 5 - stars ; i++){
                                %>
                                <i class="far fa-star"></i>
                                <% } %>
                            </div>
                        </div>
                    </div>

                    <% } %>
                </div>
            </div>
        </main>
        <%- include("./partials/footer") %>
    </body>
</html>
