<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <header><%- include("./partials/header") %></header>
    <main class="container-fluid">
        <div class="row max1200px z-index-1">
            <div class="container px-4 padding-10" id="product-creation-main">
                <form <%= locals.id ? "action=/products/"+id+"/edit?_method=PUT":"action=/products"%> method="post"
                    enctype="multipart/form-data" class="
                            row
                            gx-5
                            justify-content-center
                            clases-main-container
                        ">
                    <div class="col-md-6 padding-10 clases-main-item">
                        <div class="input-group">
                            <h2>Datos de la clase</h2>
                            <div class="form-floating">
                                <input class="form-control" type="text" name="titulo" id="titulo" placeholder="titulo"
                                    <% if(locals.old && old.titulo){ %>value="<%=old.titulo%>" <%} %> />
                                <label for="titulo">Título</label>
                            </div>
                            <select class="form-select" aria-label="select año" name="grado">
                                <option>Seleccioná el año</option>

                                <% for (let grado of grados) { %>
                                <option value="<%= grado %>" <%  if(locals.old && old.grado == grado){ %><%="selected"%>
                                    <%} %>>
                                    <%= grado %></option>
                                <% } %>
                            </select>
                            <select class="form-select" aria-label="select materia" name="materia">
                                <option>
                                    Seleccioná la materia
                                </option>
                                <% for(let materia of materias) { %>

                                <option value="<%= materia %>"
                                    <%  if(locals.old && old.materia == materia){ %><%="selected"%><% } %>><%=materia%>
                                </option>
                                <% } %>
                            </select>
                            <div class="form-floating">
                                <input class="form-control" type="text" name="contenidos" id="contenidos"
                                    placeholder="contenidos" name="contenidos"
                                    <% if(locals.old && old.contenidos){ %>value="<%=old.contenidos.join(", ")%>"
                                    <%} %> />
                                <label for="contenidos">Contenidos</label>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" rows="3" style="height:90%;" placeholder="descripcion"
                                    id="descripcion"
                                    name="descripcion"><% if(locals.old && old.descripcion){ %><%=old.descripcion%> <%} %></textarea>
                                <label for="descripcion">Descripción breve</label>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control " rows="6" style="height:90%;"
                                    placeholder="descripcionLong" id="descripcionLong"
                                    name="descripcionLong"><% if(locals.old && old.descripcionLong){ %><%=old.descripcionLong%> <%} %></textarea>
                                <label for="descripcionLong">Descripción detallada</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" class="form-control" name="precio" aria-label="precio"
                                    placeholder="precio" <% if(locals.old && old.precio){ %>value="<%=old.precio%>"
                                    <%} %> />
                                <label for="precio">Precio</label>
                            </div>
                            <% if(locals.old && old.video) { %>
                            <div class="d-flex my-3">
                                <img class="img-thumbnail w-50 me-5 " src="/img/clases-video/<%= old.video %> "
                                    alt="video ya cargado">
                                <div class="upload">
                                    <label for="video" class="form-label">Reemplazá la clase</label>
                                    <input class="form-control" type="file" id="video" placeholder="Cargá la clase"
                                        name="video" />
                                </div>
                            </div>
                            <% } else { %>
                            <div class="upload my-3">
                                <label for="video" class="form-label">Cargá la clase</label>
                                <input class="form-control" type="file" id="video" placeholder="Cargá la clase"
                                    name="video" />
                            </div>
                            <% } %>
                            <% if(locals.old && old.materialExtra) { %>
                            <div class="d-flex my-3">
                                <img class="img-thumbnail w-50 me-5 "
                                    src="/img/clases-material-extra/<%= old.materialExtra %> " alt="video ya cargado">
                                <div class="upload">
                                    <label for="materialExtra" class="form-label">Reemplazá el material extra</label>
                                    <input class="form-control" type="file" id="materialExtra"
                                        placeholder="Cargá material extra" name="materialExtra" />
                                </div>
                            </div>
                            <% } else { %>
                            <div class="upload my-3">
                                <label for="materialExtra" class="form-label">Cargá material extra</label>
                                <input class="form-control" type="file" id="materialExtra"
                                    placeholder="Cargá material extra" name="materialExtra" />
                            </div>
                            <% } %>
                            <% if(locals.old && old.preview) { %>
                            <div class="d-flex my-3">
                                <img class="img-thumbnail w-50 me-5 " src="/img/clases-preview/<%= old.preview %> "
                                    alt="video ya cargado">
                                <div class="upload">
                                    <label for="preview" class="form-label">Previsualización del curso</label>
                                    <input class="form-control" type="file" id="preview"
                                        placeholder="Previsualización del curso" name="preview" />
                                </div>
                            </div>
                            <% } else { %>
                            <div class="upload my-3">
                                <label for="preview" class="form-label">Previsualización del curso</label>
                                <input class="form-control" type="file" id="preview"
                                    placeholder="Previsualización del curso" name="preview" />
                            </div>
                            <% } %>


                        </div>
                    </div>
                    <div class="col-md-6 padding-10">
                        <div class="input-group">
                            <h2>Datos del profesor</h2>
                            <div class="form-floating">
                                <input class="form-control" type="text" name="profesorNombre" id="profesorNombre"
                                    placeholder="Nombre"
                                    <% if(locals.old && old.profesorNombre){ %>value="<%=old.profesorNombre%>" <%} %> />
                                <label for="profesorNombre">Nombre</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" type="text" name="profesorApellido" id="profesorApellido"
                                    placeholder="Apellido"
                                    <% if(locals.old && old.profesorApellido){ %>value="<%=old.profesorApellido%>"
                                    <%} %> />
                                <label for="profesorApellido">Apellido</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" type="email" name="profesorEmail" id="profesorEmail"
                                    placeholder="Correo Electrónico"
                                    <% if(locals.old && old.profesorEmail){ %>value="<%=old.profesorEmail%>" <%} %> />
                                <label for="profesorEmail">Correo Electrónico</label>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" rows="5" style="height:90%;" placeholder="cv"
                                    id="profesorCv"
                                    name="profesorCv"><% if(locals.old && old.profesorCv){ %><%=old.profesorCv%> <%} %></textarea>
                                <label for="profesorCv">Breve presentación (cv)</label>
                            </div>
                        </div>
                        <% if( locals.id) { %>

                        <button class="btn btn-danger ms-2 btn-lg" type="submit" formmethod="post"
                            formaction="<%="/products/"+id+"/delete?_method=DELETE"%>">
                            Eliminar clase
                        </button>
                        <button class=" btn btn-primary btn-lg" type="submit">
                            Actualizar la clase
                        </button>

                        <% } else { %>
                        <button class=" btn btn-primary btn-lg" type="submit">
                            Cargar la clase
                        </button>
                        <% } %>
                </form>
            </div>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>