<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <header><%- include("./partials/header") %></header>
    <main class="container-fluid">
        <div class="row max1200px z-index-1">
            <div class="container px-4 padding-10" id="product-creation-main">
                <form action="/products" method="post" enctype="multipart/form-data" class="
                            row
                            gx-5
                            justify-content-center
                            clases-main-container
                        ">
                    <div class="col-md-6 padding-10 clases-main-item">
                        <div class="input-group">
                            <h2>Datos de la clase</h2>
                            <div class="form-floating">
                                <input class="form-control" type="text" name="titulo" id="titulo" placeholder="titulo"
                                    <% if(locals.old && old.titulo){ %>value="<%=old.titulo%>" <%} %> />
                                <label for="titulo">Título</label>
                            </div>
                            <select class="form-select" aria-label="select año" name="grado">
                                <option selected>Seleccioná el año</option>
                                <option value="1er">1er año</option>
                                <option value="2do">2do año</option>
                                <option value="3er">3er año</option>
                                <option value="4to">4to año</option>
                                <option value="5to">5to año</option>
                                <option value="6to">6to año</option>
                                <option value="7mo">7mo año</option>
                            </select>
                            <select class="form-select" aria-label="select materia" name="materia">
                                <option selected>
                                    Seleccioná la materia
                                </option>
                                <option value="musica">Música</option>
                                <option value="plastica">Plástica</option>
                                <option value="teatro">Teatro</option>
                                <option value="ciencias-naturales">
                                    Ciencias Naturales
                                </option>
                                <option value="ciencias-sociales">
                                    Ciencias Sociales
                                </option>
                                <option value="conocimiento-del-mundo">
                                    Conocimiento del Mundo
                                </option>
                                <option value="educacion-fisica">
                                    Educación Física
                                </option>
                                <option value="educacion-tecnologica">
                                    Educación Tecnológica
                                </option>
                                <option value="formacion-etica">
                                    Formación Ética y Ciudadana
                                </option>
                                <option value="informatica">
                                    Informática
                                </option>
                                <option value="matematica">
                                    Matemática
                                </option>
                                <option value="practicas-del-lenguaje">
                                    Práctica del lenguaje
                                </option>
                            </select>
                            <div class="form-floating">
                                <input class="form-control" type="text" name="contenidos" id="contenidos"
                                    placeholder="contenidos" name="contenidos"
                                    <% if(locals.old && old.contenidos){ %>value="<%=old.contenidos%>" <%} %> />
                                <label for="contenidos">Contenidos</label>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="descripcion" id="descripcion"
                                    name="descripcion"><% if(locals.old && old.descripcion){ %><%=old.descripcion%> <%} %></textarea>
                                <label for="descripcion">Descripción breve</label>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="descripcionLong" id="descripcionLong"
                                    name="descripcionLong"><% if(locals.old && old.descripcionLong){ %><%=old.descripcionLong%> <%} %></textarea>
                                <label for="descripcionLong">Descripción detallada</label>
                            </div>
                            <div class="form-floating">
                                <input type="text" class="form-control" name="precio" aria-label="precio"
                                    placeholder="precio" />
                                <label for="precio">Precio</label>
                            </div>
                            <div class="upload">
                                <label for="video" class="form-label">Cargá la clase</label>
                                <input class="form-control" type="file" id="video" placeholder="Cargá la clase"
                                    name="video" />
                            </div>
                            <div class="upload">
                                <label for="materialExtra" class="form-label">Cargá material extra</label>
                                <input class="form-control" type="file" id="materialExtra"
                                    placeholder="Cargá material extra" name="materialExtra" />
                            </div>
                            <div class="upload">
                                <label for="preview" class="form-label">Previsualización del curso</label>
                                <input class="form-control" type="file" id="preview"
                                    placeholder="Previsualización del curso" name="preview" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 padding-10">
                        <div class="input-group">
                            <h2>Datos del profesor</h2>
                            <div class="form-floating">
                                <input class="form-control" type="text" name="Nombre" id="Nombre" placeholder="Nombre"
                                    <% if(locals.old && old.nombre){ %>value="<%=old.nombre%>" <%} %> />
                                <label for="Nombre">Nombre</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" type="text" name="apellido" id="apellido"
                                    placeholder="Apellido"
                                    <% if(locals.old && old.apellido){ %>value="<%=old.apellido%>" <%} %> />
                                <label for="apellido">Apellido</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" type="email" name="email" id="email"
                                    placeholder="Correo Electrónico"
                                    <% if(locals.old && old.email){ %>value="<%=old.email%>" <%} %> />
                                <label for="email">Correo Electrónico</label>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="cv" id="cv"
                                    name="cv"><% if(locals.old && old.cv){ %><%=old.cv%> <%} %></textarea>
                                <label for="cv">Breve presentación (cv)</label>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg" type="submit">
                            Cargar la clase
                        </button>
                </form>
            </div>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>