<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <header>
        <%- include("./partials/header") %>
    </header>
    <main class="container-fluid">
        <%- include("./partials/home-partials/parent-logsecure-modal") %>
        <div class="container position-relative fit-content mb-5">
            <div class="w-100">
                <h2>
                    Mi carrito <i class="fas fa-shopping-cart"></i>
                </h2>
                <p class="ms-3">
                    <%= cart.length %> cursos en carrito
                </p>
            </div>
            <section class="d-flex flex-wrap">
                <% for(let product of cart){ %>
                <article class="p-2 cart-article mb-5">
                    <div class="container_noFlex position-relative">
                        <a class="d-flex flex-column h-100 justify-content-between"
                            href="/products/<%= product.classes.id %>">
                            <div>
                                <div class="p-1">
                                    <img class="img-thumbnail "
                                        src="/img/clases-preview/<%=product.classes.interactive.preview.location%>"
                                        alt="picture placeholder" />
                                </div>
                                <div class="lh-lg p-1">
                                    <h5>
                                        <%= product.classes.title + " en " + product.classes.grades.name %>
                                    </h5>
                                    <h5><%=product.classes.subject.name %></h5>
                                    <h5>
                                        <%=product.classes.teacher.first_name + " " + product.classes.teacher.last_name %>
                                    </h5>
                                </div>
                            </div>
                            <div class="shadow-pill text-end mb-2">
                                <h3>
                                    <%="$" + product.classes.price.toFixed(2) %>
                                </h3>
                                <div>
                                </div>
                                <form action="/sale/removeFromCart/<%=product.classes.id%>?_method=DELETE"
                                    method="post">
                                    <button class="btn btn-danger btn-sm" type="submit">eliminar</button>
                                </form>
                            </div>
                        </a>
                    </div>
                </article>
                <% } %>

                <form class="d-flex pay-flex align-items-start justify-content-center" action="/sale/payment"
                    method="post">
                    <div class="row">
                        <% if(totalPrice > 0) {%>
                        <div class="mb-3">
                            <div class="shadow-pill">
                                <div class="d-flex">
                                    <h5 class="p-1">Asignar curso<%= cart.length > 1 ? "s" : "" %> a:</h5>
                                    <div class="d-inline flex-grow-1">
                                        <select class="form-select" aria-label="select child" name="selectChild"
                                            id="selectChild">
                                            <%if(children.length == 1){ %>
                                            <option value="<%= children[0].id %>" selected><%= children[0].name %>
                                            </option>
                                            <% } else { %>
                                            <option value="" selected>Elegí un hijo</option>
                                            <% for(let child of children) { %>
                                            <option value="<%= child.id %>"
                                                <%= childLogged ? child.id == childLogged.id ? "selected" : "" : ""%>>
                                                <%= child.name %></option>
                                            <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                                <% if(errors && errors.selectChild) { %>
                                <p class="feedback text-start"><%= errors.selectChild.msg %> </p>
                                <% } %>
                            </div>
                        </div>
                        <% } %>
                        <div class="mb-3">
                            <div class="pay-flex shadow-pill d-flex justify-content-between">
                                <% if(!parentIsLoggedSecure && totalPrice > 0) { %>
                                <h3 class="mt-1">Total: $<%= totalPrice %></h3>
                                <a type="button" data-bs-toggle="modal" data-bs-target="#parentVerificationModal"
                                    class=" btn btn-primary btn-lg">Continuar como padre </a>
                                <% } else if(totalPrice > 0) { %>
                                <h3 class="mt-1">Total: $<%= totalPrice %></h3>
                                <button class="btn btn-primary btn-lg" type="submit">Pagar</button>
                                <% } else { %>
                                <a href="/products">
                                    <h3>¡Elegí alguna de nuestras clases en nuestra página
                                        de
                                        clases!</h3>
                                </a>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </form>
            </section>

        </div>

        <section class="container mb-5 position-relative">
            <h2>También podría gustarte...</h2>
            <section class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
                <% for(let recommendation of recommendations){ %>
                <article class="p-2">
                    <div class="container">
                        <a class=" item" href="/products/<%= recommendation.id %> ">
                            <img class=" img-thumbnail"
                                src="/img/clases-preview/<%=recommendation.interactive.preview.location %> "
                                alt="<%= recommendation.title %> " />
                            <h4>
                                <%= recommendation.title %>
                            </h4>
                        </a>
                    </div>
                </article>
                <% } %>
            </section>
        </section>

    </main>
    <%- include("./partials/footer") %>
</body>

</html>