<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <header>
        <%- include("./partials/header") %>
    </header>
    <main class="container-fluid padding-10">

        <div class="row max1200px padding-10 z-index-1">

            <div class="clases-main-container ">
                <div class="cursos-main padding-10 col-12 container-fluid">

                    <div class="col-md-8 col-12">
                        <h2 class="padding-10">
                            Mi carrito <i class="fas fa-shopping-cart"></i>
                        </h2>
                    </div>

                    <p class="padding-10 ">
                        <%= cart.length %> cursos en carrito
                    </p>
                    <section class="d-flex flex-wrap justify-content-center">
                        <% for(let product of cart){ %>
                        <article class="col-12 col-sm-6 col-md-4  my-2">
                            <div class="clases-main-container m-1 ">
                                <a class="restyled-link clases-main-item descripcionContainer"
                                    href="/products/<%= product.classes.id %>">
                                    <div class="
                                                d-flex
                                                flex-column
                                                product-in-products-page
                                            ">
                                        <div class="
                                                    m-1
                                                    product-in-products-page-detail position-relative
                                                    pb-5
                                                ">
                                            <img class="img-thumbnail padding-10"
                                                src="/img/clases-preview/<%=product.classes.interactive.preview.location%>"
                                                alt="picture placeholder" />
                                            <div class="padding-10 ">
                                                <h5>
                                                    <%= product.classes.title + " en "
                                                            + product.classes.grades.name %>
                                                </h5>
                                                <h5><%=product.classes.subject.name %></h5>
                                                <h5>
                                                    <%=product.classes.teacher.first_name +
                                                            " " +
                                                            product.classes.teacher.last_name %>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="
                                                    price-and-options
                                                    bg-shadow-pill
                                                    align-self-end
                                                    text-end
                                                    mb-2
                                                ">
                                            <h3 class="padding-10">
                                                <%="$" +
                                                    product.classes.price.toFixed(2) %>
                                            </h3>
                                            <div class="padding-10">
                                            </div>
                                            <form action="/sale/removeFromCart/<%=product.classes.id%>?_method=DELETE"
                                                method="post">
                                                <button class="btn btn-danger btn-sm" type="submit">eliminar</button>
                                            </form>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </article>
                        <% } %>

                    </section>

                </div>
                <form class="w-100" action="/sale/payment" method="post">
                    <div class="row padding-10">
                        <div class="padding-10 col-md-6 col-12  ">
                            <div class="bg-shadow-pill">
                                <div class="d-flex">
                                    <h5 class="p-1">Asignar curso<%= cart.length > 1 ? "s" : "" %> a:</h5>
                                    <div class="d-inline flex-grow-1">
                                        <select class="form-select " aria-label="select child" name="selectChild"
                                            id="selectChild">
                                            <%if(children.length == 1){ %>
                                            <option value="<%= children[0].id %>" selected><%= children[0].name %>
                                            </option>
                                            <% } else { %>
                                            <option value="" selected>Elegí un hijo</option>
                                            <% for(let child of children) { %>
                                            <option value="<%= child.id %>"
                                                <%= childLogged ? child.id == childLogged.id ? "selected" : "" : ""%>>
                                                <%= child.name %></option>
                                            <% } %>
                                            <% } %>



                                        </select>
                                    </div>
                                </div>
                                <% if(errors && errors.selectChild) { %>
                                <p class="feedback text-start"><%= errors.selectChild.msg %> </p>
                                <% } %>
                            </div>
                        </div>
                        <div class="padding-10 col-md-6 col-12">
                            <div class="pay bg-shadow-pill  padding-10 d-flex justify-content-end">
                                <p>
                                    <% if(totalPrice) { %>
                                <h3 class="padding-10">Total: $<%= totalPrice %></h3>
                                <button class="btn btn-primary btn-lg" type="submit">Pagar</button>
                                <% } else { %>
                                <a class="restyled-link" href="/products">
                                    <h3>¡Elegí alguna de nuestras clases en nuestra página
                                        de
                                        clases!</h3>
                                </a>
                                <% } %>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>




        <section class="row max1200px padding-10 z-index-1">
            <div class="cursos-main padding-10">
                <h2 class="padding-10">También podría gustarte...</h2>
                <section class="d-flex flex-wrap justify-content-start">
                    <% for(let recommendation of recommendations){ %>
                    <article class="col-12 col-sm-6 col-md-4 col-lg-3 my-2">
                        <div class="clases-main-container m-1 ">
                            <a class="restyled-link clases-main-item" href="/products/<%= recommendation.id %> ">
                                <img class="padding-10 img-thumbnail"
                                    src="/img/clases-preview/<%=recommendation.interactive.preview.location %> "
                                    alt="<%= recommendation.title %> " />
                                <h4 class="padding-10">
                                    <%= recommendation.title %>
                                </h4>
                            </a>
                        </div>
                    </article>
                    <% } %>
                </section>
            </div>
        </section>

    </main>
    <%- include("./partials/footer") %>
</body>

</html>