<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <header><%- include("./partials/header") %></header>
    <main class="container-fluid">
        <div class="row max1200px z-index-1">
            <div class="col-12 col-md-2"></div>
            <section class="col-12 col-md-4 cursos-main padding-10">
                <div class="clases-main-container">
                    <article class="clases-main-item padding-10">
                        <div>
                            <span> <%= classSel.grades.name %></span>
                            <i class="fas fa-caret-right"></i>
                            <span> <%= classSel.subject.name %> </span>
                        </div>
                        <h2><%= classSel.title %></h2>
                        <img class="img-thumbnail padding-10"
                            src="/img/clases-preview/<%=classSel.interactive.preview.location%>"
                            alt="picture placeholder" />
                        <p><%=classSel.description.description_short %></p>
                        <div>
                            <% let stars = 0%> <% for(let i = 0; i <
                                Math.floor(classSel.rating); i++){ stars++;
                                %>
                            <i class="fas fa-star"></i>
                            <% } %> <% if(classSel.rating % 1 != 0) {
                                stars++; %>
                            <i class="fas fa-star-half-alt"></i>
                            <% } %> <% for(let i = 0; i < 5 - stars ; i++){
                                %>
                            <i class="far fa-star"></i>
                            <% } %>
                        </div>
                        <h3>
                            <%=classSel.teacher.first_name + " " +
                                classSel.teacher.last_name %>
                        </h3>
                    </article>
                    <article class="course-description padding-10">
                        <h4>Lo que aprenderás</h4>
                        <dl>
                            <dt>Descripción de la clase:</dt>
                            <dd><%= classSel.description.description_long %></dd>
                            <dt>Contenidos de la clase</dt>
                            <dd><%= classSel.description.contents %></dd>
                            <dt>Profesor</dt>
                            <dd>
                                <%=classSel.teacher.first_name + " " +
                                    classSel.teacher.last_name %>
                            </dd>

                        </dl>
                    </article>
                </div>
            </section>
            <section class="
                        col-12 col-md-4
                        align-self-start
                        cursos-main
                        padding-10
                    ">
                <div class="clases-main-container padding-10">
                    <div class="clases-main-item">
                        <h3>
                            <%= classSel.title %>
                        </h3>
                        <h5><%= classSel.grades.name %></h5>
                        <h5><%= classSel.subject.name %></h5>
                        <div class="bg-shadow-pill my-5">
                            <h3>
                                <%="$" + classSel.price.toFixed(2) %>
                            </h3>
                            <% if(parentLogged && !parentLogged.cart.includes(Number(classSel.id))) {%>
                            <form class="" action="/user/addToCart/<%=classSel.id%>" method="post">
                                <button class="btn btn-primary btn-lg" type="submit">
                                    Agregar al carrito
                                </button>
                            </form>
                            <% } else { %>
                            <h5>Esta clase ya se encuentra en el carrito</h5>
                            <a href="/products">
                                <button class="btn btn-primary btn-lg" type="button">
                                    Volver a la página de clases
                                </button>
                            </a>
                            <% } %>
                        </div>
                        <h5>Esta clase incluye</h5>
                        <ul>
                            <li>
                                <%= classSel.duracionVideoHoras %> <%
                                    if(classSel.duracionVideoHoras / 1 > 1)
                                    { %> horas <%} else { %> hora <% } %> de
                                video
                            </li>
                            <% if(classSel.interactive.bonus.location) { %>
                            <li>Material extra descargable</li>
                            <% } %>
                            <li>Acceso de por vida</li>
                            <% if(classSel.responsive) { %>
                            <li>Acceso en dispositivos móviles</li>
                            <% } %> <% if(classSel.certificado) { %>
                            <li>Certificación de finalización</li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>