<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <header><%- include("./partials/header") %></header>
    <main class="container-fluid">
        <form action="/products" method="post" enctype="multipart/form-data" class="container row-cols-md-2 mb-3">
            <div class="p-2 position-relative">
                <div class="container_noFlex">
                    <h2>Datos de la clase</h2>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="title" id="title" placeholder="title"
                            value="<%= locals.old && old.title ? old.title : "" %>" />
                        <label for="title">Título</label>
                        <% if(errors && errors.title) { %>
                        <p class="feedback text-start"><%= errors.title.msg %> </p>
                        <% } %>
                    </div>
                    <select class="form-select mb-3" aria-label="select año" name="grade">
                        <option>Seleccioná el año</option>
                        <% for (let grade of grades) { %>
                        <option value="<%= grade.id %>"
                            <%  if(locals.old && old.grades && old.grades.id == grade.id){ %><%="selected"%> <%} %>>
                            <%= grade.name %></option>
                        <% } %>
                    </select>
                    <% if(errors && errors.grade) { %>
                    <p class="feedback text-start"><%= errors.grade.msg %> </p>
                    <% } %>
                    <select class="form-select mb-3" aria-label="select subject" name="subject">
                        <option>
                            Seleccioná la materia
                        </option>
                        <% for(let subject of subjects) { %>
                        <option value="<%= subject.id %>"
                            <%  if(locals.old && old.subject.id == subject.id){ %><%="selected"%><% } %>>
                            <%=subject.name%>
                        </option>
                        <% } %>
                    </select>
                    <% if(errors && errors.subject) { %>
                    <p class="feedback text-start"><%= errors.subject.msg %> </p>
                    <% } %>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="contents" id="contents" placeholder="contents"
                            name="contents"
                            value="<%= locals.old && old.description && old.description.contents ? typeof old.description.contents === "string" ? old.description.contents : old.description.contents.join(", ") : "" %>" />
                        <label for="contents">Contenidos</label>
                        <% if(errors && errors.contents) { %>
                        <p class="feedback text-start"><%= errors.contents.msg %> </p>
                        <% } %>
                    </div>
                    <div class="form-floating mb-3 " style="height: max-content;">
                        <textarea class="form-control" rows="3" style="height:90%;" placeholder="description_short"
                            id="description_short"
                            name="description_short"><%= locals.old && old.description && old.description.description_short ? old.description.description_short : "" %></textarea>
                        <label for="description_short">Descripción breve</label>
                        <% if(errors && errors.description_short) { %>
                        <p class="feedback text-start"><%= errors.description_short.msg %> </p>
                        <% } %>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control " rows="6" style="height:90%;" placeholder="description_long"
                            id="description_long"
                            name="description_long"><%= locals.old && old.description && old.description.description_long ? old.description.description_long : "" %></textarea>
                        <label for="description_long">Descripción detallada</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="price" aria-label="price" placeholder="price"
                            value="<%= locals.old && old.price ? old.price : "" %>" />
                        <label for="price">Precio</label>
                        <% if(errors && errors.price) { %>
                        <p class="feedback text-start"><%= errors.price.msg %> </p>
                        <% } %>
                    </div>
                    <% if(locals.old && old.interactive && old.interactive.video.location) { %>
                    <div class="d-flex my-3">
                        <input class="d-none" type="text" name="videoLocation" id="videoLocation"
                            value="<%= old.interactive.video.location%>">
                        <img class="img-thumbnail w-50 me-5 "
                            src="/img/clases-video/<%= old.interactive.video.location %> "
                            alt="error en la visualización del video">
                        <div class="form-upload">
                            <label for="video" class="form-label">Reemplazá la clase</label>
                            <input class="form-control" type="file" id="video" placeholder="Cargá la clase"
                                name="video" />
                        </div>
                    </div>
                    <% if(errors && errors.video) { %>
                    <p class="feedback text-start"><%= errors.video.msg %> </p>
                    <% } %>
                    <% } else { %>
                    <div class="form-upload my-3">
                        <label for="video" class="form-label">Cargá la clase</label>
                        <input class="form-control" type="file" id="video" placeholder="Cargá la clase" name="video" />
                    </div>
                    <% if(errors && errors.video) { %>
                    <p class="feedback text-start"><%= errors.video.msg %> </p>
                    <% } %>
                    <% } %>
                    <% if(locals.old && old.interactive && old.interactive.preview.location) { %>
                    <div class="d-flex my-3">
                        <input class="d-none" type="text" name="previewLocation" id="previewLocation"
                            value="<%= old.interactive.preview.location%>">
                        <img class="img-thumbnail w-50 me-5 "
                            src="/img/clases-preview/<%= old.interactive.preview.location%>"
                            alt="error en la visualización del video">
                        <div class="form-upload">
                            <label for="preview" class="form-label">Previsualización del curso</label>
                            <input class="form-control" type="file" id="preview"
                                placeholder="Error en la previsualización del curso" name="preview" />
                        </div>
                    </div>
                    <% if(errors && errors.preview) { %>
                    <p class="feedback text-start"><%= errors.preview.msg %> </p>
                    <% } %>
                    <% } else { %>
                    <div class="form-upload my-3">
                        <label for="preview" class="form-label">Previsualización del curso</label>
                        <input class="form-control" type="file" id="preview"
                            placeholder="Error en la previsualización del curso" name="preview" />
                    </div>
                    <% if(errors && errors.preview) { %>
                    <p class="feedback text-start"><%= errors.preview.msg %> </p>
                    <% } %>
                    <% } %>
                    <% if(locals.old && old.interactive && old.interactive.bonus.location) { %>
                    <div class="d-flex my-3">
                        <input class="d-none" type="text" name="bonusLocation" id="bonusLocation"
                            value="<%= old.interactive.bonus.location%>">
                        <img class="img-thumbnail w-50 me-5 "
                            src="/img/clases-material-extra/<%= old.interactive.bonus.location %> "
                            alt="error en la visualización del video">
                        <div class="form-upload">
                            <label for="bonus" class="form-label">Reemplazá el material extra</label>
                            <input class="form-control" type="file" id="bonus" placeholder="Cargá material extra"
                                name="bonus" />
                        </div>
                    </div>
                    <% if(errors && errors.bonus) { %>
                    <p class="feedback text-start"><%= errors.bonus.msg %> </p>
                    <% } %>
                    <% } else { %>
                    <div class="form-upload my-3">
                        <label for="bonus" class="form-label">Cargá material extra</label>
                        <input class="form-control" type="file" id="bonus" placeholder="Cargá material extra"
                            name="bonus" />
                    </div>
                    <% if(errors && errors.bonus) { %>
                    <p class="feedback text-start"><%= errors.bonus.msg %> </p>
                    <% } %>
                    <% } %>
                </div>
            </div>
            <div class="p-2 position-relative">
                <div class=" container_noFlex">
                    <h2>Datos del profesor</h2>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="teacherFirstName" id="teacherFirstName"
                            placeholder="Nombre"
                            value="<%= locals.old && old.teacher && old.teacher.first_name ? old.teacher.first_name : "" %>" />
                        <label for="teacherFirstName">Nombre</label>
                        <% if(errors && errors.teacherFirstName) { %>
                        <p class="feedback text-start"><%= errors.teacherFirstName.msg %> </p>
                        <% } %>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="teacherLastName" id="teacherLastName"
                            placeholder="Apellido"
                            value="<%= locals.old && old.teacher && old.teacher.last_name ? old.teacher.last_name : "" %>" />
                        <label for="teacherLastName">Apellido</label>
                        <% if(errors && errors.teacherLastName) { %>
                        <p class="feedback text-start"><%= errors.teacherLastName.msg %> </p>
                        <% } %>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="email" name="teacherEmail" id="teacherEmail"
                            placeholder="Correo Electrónico"
                            value="<%= locals.old && old.teacher && old.teacher.email ? old.teacher.email : "" %>" />
                        <label for="teacherEmail">Correo Electrónico</label>
                        <% if(errors && errors.teacherEmail) { %>
                        <p class="feedback text-start"><%= errors.teacherEmail.msg %> </p>
                        <% } %>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" rows="5" style="height:90%;" placeholder="cv" id="teacherCv"
                            name="teacherCv"><%if(locals.old && old.teacher && old.teacher.cv){%><%=old.teacher.cv%><%}%></textarea>
                        <label for="teacherCv">Breve presentación (cv)</label>
                    </div>
                    <div class="d-flex justify-content-around">
                        <% if( locals.old && locals.old.id) { %>
                        <button class="btn btn-danger btn-lg" type="submit" formmethod="post"
                            formaction="<%="/products/"+old.id+"/delete?_method=DELETE"%>">
                            Eliminar clase
                        </button>
                        <button class=" btn btn-warning btn-lg" type="submit" formmethod="post"
                            formaction="<%="/products/duplicate"%>" formenctype="multipart/form-data">
                            Duplicar la clase
                        </button>
                        <button class=" btn btn-success btn-lg" type="submit"
                            formaction="<%="/products/"+old.id+"/edit?_method=PUT"%>" formmethod="post"
                            formenctype="multipart/form-data">
                            Actualizar la clase
                        </button>
                        <% } else { %>
                        <button class=" btn btn-primary btn-lg" type="submit">
                            Cargar la clase
                        </button>
                        <% } %>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>