<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <header><%- include("./partials/header") %></header>
    <main class="container-fluid">
        <div class="row max1200px padding-10 z-index-1">
            <div class="cursos-main padding-10">
                <section class="d-flex flex-wrap">
                    <% for(let classSel of classes){ %>
                    <article class="col-12 col-sm-6 col-md-4 col-lg-3 my-2 ">
                        <div class="clases-main-container m-1 ">
                            <a class="restyled-link clases-main-item descripcionContainer"
                                href="/products/<%= classSel.id %>">
                                <div class="
                                            d-flex
                                            flex-column
                                            product-in-products-page
                                        ">
                                    <div class="
                                                m-1
                                                product-in-products-page-detail position-relative
                                                pb-5
                                            ">

                                        <img class="img-thumbnail padding-10"
                                            src="/img/clases-preview/<%=classSel.interactive.preview.location%>"
                                            alt="picture placeholder" />
                                        <div class="padding-10 ">
                                            <h5>
                                                <%= classSel.title + " en "
                                                        + classSel.subject.name %>
                                            </h5>
                                            <h5><%=classSel.grades.name %></h5>
                                            <h5>
                                                <%=classSel.teacher.first_name +
                                                        " " +
                                                        classSel.teacher.last_name %>
                                            </h5>
                                            <div>
                                                <% let stars = 0; %>
                                                <%for(let i = 0; i < Math.floor(classSel.rating); i++){ %>
                                                <% stars++; %>
                                                <i class="fas fa-star"></i>
                                                <% } %>
                                                <% if(classSel.rating % 1 !=0) { %>
                                                <% stars++; %>
                                                <i class="fas fa-star-half-alt"></i>
                                                <% } %>
                                                <% for(let i=0; i < 5 - stars ; i++){ %>
                                                <i class="far fa-star"></i>
                                                <% } %>
                                            </div>
                                        </div>
                                        <div class="position-absolute bottom-0 descripcion padding-10">
                                            <h5>Más información</h5>
                                            <p><%= classSel.description.description_long %></p>
                                        </div>
                                    </div>
                                    <div class="
                                                price-and-options
                                                bg-shadow-pill
                                                align-self-end
                                                text-end
                                                mb-2
                                            ">
                                        <h3 class="padding-10">
                                            <%="$" +
                                                classSel.price.toFixed(2) %>
                                        </h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                    <% } %>
                </section>
            </div>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>