<div class="mb-3">
    <div class="container-c">
        <h2>¡Hola <%= profile.name %>!</h2>
        <h2>Hoy es un buen día para aprender <%= collection[0]?.classes.title %></h2>


    </div>
</div>

<article class="col-12 col-md-6">
    <div class="container-c">
        <h2>Clase actual</h2>
        <% if(lastClassTaken) {%>
        <a class="item" href="/user/class/<%= lastClassTaken.id %>">
            <img class="img-thumbnail" src="/img/clases-preview/<%= lastClassTaken.interactive.preview.location %>"
                alt="<%= lastClassTaken.title %> " />
            <h4 class="subtitle"><%= lastClassTaken.title %></h4>
        </a>
        <% } else { %>
        <h3>No estás tomando ninguna clase aún</h3>
        <% } %>
    </div>
</article>
<article class="col-12 col-md-6  ">
    <div class="container-c">
        <h2>Mi colección</h2>
        <% if(collection.length > 0) {%>
        <% for(let classSel of collection){ %>
        <a class="item" href="/user/class/<%= classSel.classes.id%>">
            <span class="progressData" data-value=<%= classSel.progress %>>
                <progress class="progressOverImage w-100" max="100"></progress>
            </span>
            <img class=" img-thumbnail" src="/img/clases-preview/<%= classSel.classes.interactive.preview.location %>"
                alt="<%= classSel.classes.title %> " />
            <h4 class="subtitle"><%= classSel.classes.title %></h4>
        </a>
        <% } %>
        <% } else { %>
        <h3>No tenés clases en tu colección</h3>
        <% } %>
    </div>
</article>
<script src="/script/progressValue.js"></script>