<div class="mb-3">
    <div class="container-c">
        <h2>¡Hola <%= profile.name %>!</h2>
        <h2>Hoy es un buen día para aprender <%= recommendations[0].titulo %></h2>


    </div>
</div>

<article class="col-12 col-md-6">
    <div class="container-c">
        <h2>Clase actual</h2>
        <% if(locals.ultimaClase) {%>
        <a class="item" href="/products/<%= ultimaClase.id %>">
            <img class="img-thumbnail" src="/img/clases-preview/<%= ultimaClase.preview %>"
                alt="<%= ultimaClase.titulo %> " />
            <h4 class="subtitle"><%= ultimaClase.titulo %></h4>
        </a>
        <% } else { %>
        <h3>No estás tomando ninguna clase aún</h3>
        <% } %>
    </div>
</article>
<article class="col-12 col-md-6  ">
    <div class="container-c">
        <h2>Mi colección</h2>
        <% if(clasesActuales.length > 0) {%>
        <% for(let clase of clasesActuales){ %>
        <a class="item" href="/products/<%= clase.classes.id%>">
            <img class=" img-thumbnail" src="/img/clases-preview/<%= clase.classes.interactive.preview.location %>"
                alt="<%= clase.classes.title %> " />
            <h4 class="subtitle"><%= clase.classes.title %></h4>
        </a>
        <% } %>
        <% } else { %>
        <h3>No tenés clases en tu colección</h3>
        <% } %>
    </div>
</article>