<article class="col-12 col-md-6  mb-3">
    <div class="container-c ">
        <h2>
            <%= child.name %>
            <form action="/user/<%= child.id %>/delete?_method=DELETE" method="POST"
                enctype="application/x-www-form-urlencoded" class="deleteForm">
                <button class="btn-close button-right mt-0 " type="submit"></button>
            </form>
        </h2>
        <div class="item">
            <form action="/user/<%= child.id %>/update?_method=PUT" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-upload text-center mb-3">
                            <label for="avatar-<%=child.id%>" class="form-label">
                                <img class="img-thumbnail rounded-circle " id="avatarChildImg-<%=child.avatar%>"
                                    src="/img/avatars/<%= child.avatar %>" alt="avatar" />
                                <div>Seleccion치 el avatar</div>
                            </label>
                            <div class="file-input-container-c">
                                <input class="form-control  imgInput" type="file" id="avatar-<%=child.id%>"
                                    placeholder="Avatar del hijo" name="avatar" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 d-flex flex-column justify-content-between">
                        <div>
                            <div class="form-floating">
                                <input class="form-control" type="text" name="name" id="name-<%=child.id%>"
                                    placeholder="Nombre de usuario del hijo" value=<%= child.name %> />
                                <label for="name-<%=child.id%>">
                                    Nombre del hijo
                                </label>
                            </div>
                            <select class="form-select align-self-start my-3" aria-label="select a침o" name="grade_id">
                                <option disabled>Seleccion치 el a침o</option>
                                <% for(let grade of grades) {%>
                                <option <%= grade.id == child.gradeId ? "selected" : ""%> value="<%= grade.id %>">
                                    <%= grade.name %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                        <button class="btn btn-success btn-lg button-right my-3 align-self-end" type="submit">Actualizar
                            perfil</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</article>