<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head") %>
    <script src="/script/hideLateralNavbar.js"></script>
    <script src="/script/verticalCarousel.js"></script>
    <script src="/script/validations/userValidations.js"></script>
</head>

<body class="container-c-fluid">
    <header><%- include("./partials/header") %></header>
    <nav id="main-nav">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="#top">
                    <i class="far fa-caret-square-up"></i>
                    <span class="nav-link">Volver arriba</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#main">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span class="nav-link"><%=profiles?"Tus clases":"Ingresá" %></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#sobre-nosotros">
                    <i class="fas fa-child"></i>
                    <span class="nav-link">Sobre nosotros</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#comentarios">
                    <i class="far fa-comments"></i>
                    <span class="nav-link">Comentarios</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#contacto">
                    <i class="far fa-paper-plane"></i>
                    <span class="nav-link">Contactate</span>
                </a>
            </li>
        </ul>
    </nav>

    <!-- Modal -->

    <%- include("./partials/partials-home/parent-logsecure-modal") %>
    <main class="main">
        <div id="main">
            <section class="row mb-3">

                <!-- 3 opciones para vista superior de la página de inicio -->
                <!-- 1) Registro o Login -->
                <% if(!locals.user) { %>
                <%- include("./partials/partials-home/register") %>
                <%- include("./partials/partials-home/parent-logsecure-modal") %>
                <!-- 2) Elección del subUsuario -->
                <% } else if(!locals.profile) { %>
                <%- include("./partials/partials-home/choose-profile") %>

                <!-- 3) cursos del hijo -->
                <% } else if(locals.profile) { %>
                <%- include("./partials/partials-home/child-classes") %>
                <% } %>
            </section>
            <section class="row">
                <article class="col-12 col-md-6 mb-3">
                    <div class="container-c">
                        <h2>Sugerencias</h2>
                        <% for(let clase of recommendations){ %>
                        <a class="item" href="/products/<%= clase.id %> ">
                            <img class="img-thumbnail" src="/img/clases-preview/<%=clase.interactive.preview.location%>"
                                alt="<%= clase.titulo %> " />
                            <h4 class="subtitle"><%= clase.title %></h4>
                        </a>
                        <% } %>
                        <div class="w-100 text-end">
                            <a href="/products">
                                <h4 class="subtitle">más cursos</h4>
                            </a>
                        </div>
                    </div>
                </article>
                <article class="col-12 col-md-6 mb-3">
                    <div id="otros-cursos" class="container-c">
                        <h2>Otros cursos</h2>
                        <% for(let clase of classes){ %>
                        <a href="/products/<%= clase.id %> ">
                            <div class="other-clases">
                                <%= clase.title %>
                            </div>
                        </a>
                        <% } %>
                        <a href="/products">
                            <div class="other-clases">Más cursos</div>
                        </a>
                    </div>
                </article>
            </section>
            <section class="row reviews">
                <article class="col-12 mb-3">
                    <div class="container-c">
                        <h2>Sobre nosotros</h2>
                        <p>
                            Mundo Sapien es un market place donde docentes
                            pueden ofrecer clases sobre distintos temas de
                            la curricula escolar. Pensado para alumnos del
                            nivel primario (de 6 a 12 años) se buscará una
                            interacción atractiva y sencilla para los niños
                            así como la posibilidad de crear una colección
                            personal de cursos adquiridos por pago directo o
                            suscripción.
                        </p>
                    </div>
                </article>
            </section>
            <section class="row reviews">
                <article class="col-12 col-md-6 mb-3">
                    <div class="container-c ">
                        <h2>Comentarios</h2>
                        <div class="carouselVertical">
                            <% for(let i = 0; i < comentarios.length; i+=2){ %>
                            <div class="carouselVerticalItemGroup">
                                <div class="carouselVerticalItem">
                                    <p><%= comentarios[i].comment %> </p>
                                    <p><%= comentarios[i].profiles.name %> </p>
                                </div>
                                <% if(i+1 < comentarios.length) {%>
                                <div class="carouselVerticalItem">
                                    <p><%= comentarios[i+1].comment %> </p>
                                    <p><%= comentarios[i+1].profiles.name %> </p>
                                </div>
                                <% } %>
                            </div>
                            <% } %>
                        </div>
                        <!-- <h2>Comentarios</h2>
                        <div id="carouselVertical" class="v-carousel slide vertical">
                            <div class="v-carousel-inner">
                                <% for(let i = 0; i < comentarios.length; i++){ %>
                                <div class="v-carousel-item">
                                    <div>
                                        <p><%= comentarios[i].comment %> </p>
                                        <p><%= comentarios[i].commenter %> </p>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div> -->
                    </div>
                </article>
                <article class="col-12 col-md-6 mb-3">
                    <div class="container-c">
                        <h2>Deja tu comentario</h2>
                        <form action=<%= user ? `/user/${profiles.id}/comment` : "" %> method="post">
                            <div class="form-floating">
                                <% if(!profiles) { %>
                                <p>Tenés que ingresar para dejar un comentario</p>
                                <% } else { %>
                                <p>¡Buen día <%= profiles.name %>, contanos que te
                                    parece la página!</p>
                                <% } %>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" name="comment" id="comment" placeholder="comment"
                                    rows="4" style="height: 100%; font-size: 24px;"></textarea>
                                <label for="comment">Comentario</label>
                            </div>
                            <button class="btn btn-primary btn-lg button-right" type="submit">Enviar</button>
                        </form>
                    </div>
                </article>
            </section>
            <section class="row mb-3 reviews">
                <article class="col-12 col-md-6 mb-3">
                    <div class="container-c">
                        <h2>Quiero saber más</h2>
                        <form action="" method="post">
                            <div class="form-floating">
                                <input class="form-control" type="text" name="nombre" id="nombre"
                                    placeholder="nombre" />
                                <label for="nombre">Nombre</label>
                            </div>
                            <div class="form-floating">
                                <input class="form-control" type="email" name="email" id="email" placeholder="email" />
                                <label for="email">Correo electrónico</label>
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" name="consulta" id="consulta"
                                    placeholder="consulta"></textarea>
                                <label for="consulta">Consulta</label>
                            </div>
                        </form>
                    </div>
                </article>
            </section>
        </div>

    </main>
    <%- include("./partials/footer") %>

</body>

</html>