<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head") %>
    <script src="/script/validations/productValidations.js"></script>
    <script src="/script/imgInputPreview.js"></script>
</head>

<body>
    <header><%- include("./partials/header") %></header>
    <main class="container-c-fluid">
        <form <% if(old?.id) {%>action="/products/<%= old.id %> /edit?_method=PUT" <% } else {%> action="/products"
            <% } %> method="post" enctype="multipart/form-data" class="container-c row-cols-md-2 mb-3"
            id="create-product-form">
            <div class="p-2 position-relative">
                <div class="container-c_noFlex w-100">
                    <h2>Datos de la clase</h2>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="title" id="title" placeholder="title"
                            value="<%= old?.title ? old.title : "" %>" />
                        <label for="title">Título</label>
                        <p class="feedback d-none" id="titleError"></p>
                        <% if(errors?.title) { %>
                        <p class="feedback text-start"><%= errors.title.msg %> </p>
                        <% } %>
                    </div>

                    <select class="form-select mb-3" aria-label="select año" name="grade" id="grade">
                        <option disabled selected>Seleccioná el año</option>
                        <% for (let grade of grades) { %>
                        <option value="<%= grade.id %>" <%  if( old?.grades?.id == grade.id){ %><%="selected"%> <%} %>>
                            <%= grade.name %></option>
                        <% } %>
                    </select>
                    <p class="feedback d-none" id="gradeError"></p>
                    <% if(errors?.grade) { %>
                    <p class="feedback text-start"><%= errors.grade.msg %> </p>
                    <% } %>

                    <select class="form-select mb-3" aria-label="select subject" name="subject" id="subject">
                        <option disabled selected>
                            Seleccioná la materia
                        </option>
                        <% for(let subject of subjects) { %>
                        <option value="<%= subject.id %>"
                            <%  if(old?.subject.id == subject.id){ %><%="selected"%><% } %>>
                            <%=subject.name%>
                        </option>
                        <% } %>
                    </select>
                    <p class="feedback d-none" id="subjectError"></p>
                    <% if(errors?.subject) { %>
                    <p class="feedback text-start"><%= errors.subject.msg %> </p>
                    <% } %>

                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="contents" id="contents" placeholder="contents"
                            name="contents"
                            value="<%= old?.description.contents ? typeof old.description.contents === "string" ? old.description.contents : old.description.contents.join(", ") : "" %>" />
                        <label for="contents">Contenidos</label>
                        <p class="feedback d-none" id="contentsError"></p>
                        <% if(errors?.contents) { %>
                        <p class="feedback text-start"><%= errors.contents.msg %> </p>
                        <% } %>
                    </div>

                    <div class="form-floating mb-3 " style="height: max-content;">
                        <textarea class="form-control" rows="3" style="height:90%;" placeholder="descriptionShort"
                            id="descriptionShort"
                            name="descriptionShort"><%=  old?.description.descriptionShort ? old.description.descriptionShort : "" %></textarea>
                        <label for="descriptionShort">Descripción breve</label>
                        <p class="feedback d-none" id="descriptionError"></p>
                        <% if(errors?.descriptionShort) { %>
                        <p class="feedback text-start"><%= errors.descriptionShort.msg %> </p>
                        <% } %>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control " rows="6" style="height:90%;" placeholder="descriptionLong"
                            id="descriptionLong"
                            name="descriptionLong"><%= old?.description.descriptionLong ? old.description.descriptionLong : "" %></textarea>
                        <label for="descriptionLong">Descripción detallada</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="price" name="price" aria-label="price"
                            placeholder="price" value="<%= old?.price ? old.price : "" %>" />
                        <label for="price">Precio</label>
                        <p class="feedback d-none" id="priceError"></p>
                        <% if(errors && errors.price) { %>
                        <p class="feedback text-start"><%= errors.price.msg %> </p>
                        <% } %>
                    </div>

                    <div class="form-upload my-3">
                        <label for="video" class="form-label">
                            <% if(old?.interactive.video.location) {%>
                            <img src="/img/clases-video/<%=old.interactive.video.location%>" alt="video image">
                            <% } %>
                            <div>Cargá la clase</div>
                        </label>
                        <div class="file-input-container-c">
                            <input class="form-control" type="file" id="video" placeholder="Cargá la clase"
                                name="video" />
                        </div>
                        <p class="feedback d-none bg-white" id="videoError"></p>
                    </div>
                    <% if(errors?.video) { %>
                    <p class="feedback text-start"><%= errors.video.msg %> </p>
                    <% } %>

                    <div class="form-upload my-3">
                        <label for="preview" class="form-label">
                            <% if(old?.interactive.preview.location) {%>
                            <img class="img-thumbnail" src="/img/clases-preview/<%=old.interactive.preview.location%>"
                                alt="preview image" />
                            <% } %>
                            <div>Previsualización del curso</div>
                        </label>
                        <div class="file-input-container-c">
                            <input class="form-control imgInput" type="file" id="preview"
                                placeholder="Error en la previsualización del curso" name="preview" />
                        </div>

                        <p class="feedback d-none" id="previewError"></p>
                    </div>
                    <% if(errors?.preview) { %>
                    <p class="feedback text-start"><%= errors.preview.msg %> </p>
                    <% } %>

                    <div class="form-upload my-3">
                        <label for="bonus" class="form-label">
                            <% if(old?.interactive.bonus.location) {%>
                            <img class="img-thumbnail"
                                src="/img/clases-material-extra/<%=old.interactive.bonus.location%>"
                                alt="preview image" />
                            <% } %>
                            <div>Cargá material extra</div>
                        </label>
                        <div class="file-input-container-c">
                            <input class="form-control" type="file" id="bonus" placeholder="Cargá material extra"
                                name="bonus" />
                        </div>
                        <p class="feedback d-none" id="bonusError"></p>
                    </div>
                    <% if(errors?.bonus) { %>
                    <p class="feedback text-start"><%= errors.bonus.msg %> </p>
                    <% } %>

                </div>
            </div>
            <div class="p-2 position-relative">
                <div class=" container-c_noFlex w-100">
                    <h2>Datos del profesor</h2>

                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="teacherFirstName" id="teacherFirstName"
                            placeholder="Nombre" value="<%= old?.teacher.firstName ? old.teacher.firstName : "" %>" />
                        <label for="teacherFirstName">Nombre</label>
                        <p class="feedback d-none" id="teacherFirstNameError"></p>
                        <% if(errors?.teacherFirstName) { %>
                        <p class="feedback text-start"><%= errors.teacherFirstName.msg %> </p>
                        <% } %>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" type="text" name="teacherLastName" id="teacherLastName"
                            placeholder="Apellido" value="<%= old?.teacher.lastName ? old.teacher.lastName : "" %>" />
                        <label for="teacherLastName">Apellido</label>
                        <p class="feedback d-none" id="teacherLastNameError"></p>
                        <% if(errors?.teacherLastName) { %>
                        <p class="feedback text-start"><%= errors.teacherLastName.msg %> </p>
                        <% } %>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" type="email" name="teacherEmail" id="teacherEmail"
                            placeholder="Correo Electrónico"
                            value="<%=  old?.teacher.email  ? old.teacher.email : "" %>" />
                        <label for="teacherEmail">Correo Electrónico</label>
                        <p class="feedback d-none" id="teacherEmailError"></p>
                        <% if(errors?.teacherEmail) { %>
                        <p class="feedback text-start"><%= errors.teacherEmail.msg %> </p>
                        <% } %>
                    </div>

                    <div class="form-floating mb-3">
                        <textarea class="form-control" rows="5" style="height:90%;" placeholder="cv" id="teacherCv"
                            name="teacherCv"><%if(old?.teacher?.cv){%><%=old.teacher.cv%><%}%></textarea>
                        <label for="teacherCv">Breve presentación (cv)</label>
                    </div>
                    <div class="d-flex justify-content-around">

                        <button class=" btn btn-primary btn-lg align-self-end" type="submit">
                            <% if(old?.id) {%>
                            Actualizar la clase
                            <% } else {%>
                            Cargar la clase
                            <% } %>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <%- include("./partials/footer") %>

</body>

</html>