<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <header><%- include("./partials/header") %></header>
    <main class="container-c-fluid">
        <div class="row">
            <div class="col-12 col-md-2"></div>
            <section class="col-12 col-md-4 mb-3">
                <div class="container-c">
                    <article class="item">
                        <div>
                            <span> <%= classSel.grades.name %></span>
                            <i class="fas fa-caret-right" style="transform: translateY(1px)"></i>
                            <span> <%= classSel.subject.name %> </span>
                        </div>
                        <h2><%= classSel.title %></h2>
                        <img class="img-thumbnail " src="/img/clases-preview/<%=classSel.interactive.preview.location%>"
                            alt="picture placeholder" />
                        <p class="p-0 fw-lighter fs-5"><%=classSel.description.descriptionShort %></p>
                        <div>
                            <% for(let i = 0; i < classSel.stars[0]; i++) { %>
                            <i class="fas fa-star"></i>
                            <% } %>
                            <% for(let j = 0; j < classSel.stars[1]; j++) { %>
                            <i class="fas fa-star-half-alt"></i>
                            <% } %>
                            <% for(let k = 0; k < classSel.stars[2]; k++) { %>
                            <i class="far fa-star"></i>
                            <% } %>
                        </div>
                        <h3>
                            <%=classSel.teacher.firstName + " " +
                                classSel.teacher.lastName %>
                        </h3>
                    </article>
                    <article class="m-2">
                        <h4>Lo que aprenderás</h4>
                        <dl>
                            <dt>Descripción de la clase:</dt>
                            <dd><%= classSel.description.descriptionLong %></dd>
                            <dt>Contenidos de la clase</dt>
                            <dd><%= classSel.description.contents %></dd>
                            <dt>Profesor</dt>
                            <dd>
                                <%=classSel.teacher.firstName + " " +
                                    classSel.teacher.lastName %>
                            </dd>

                        </dl>
                    </article>
                </div>
            </section>
            <section class="col-12 col-md-4 align-self-start">
                <div class="container-c ">
                    <div class="item">
                        <h3>
                            <%= classSel.title %>
                        </h3>
                        <h5><%= classSel.grades.name %></h5>
                        <h5><%= classSel.subject.name %></h5>
                        <div class="shadow-pill my-5">
                            <h3 class="text-white fw-bold">
                                <%="$" + classSel.price.toFixed(2) %>
                            </h3>
                            <% if (inCart) { %>
                            <h5 class="mb-3">Esta clase ya fue comprada o se encuentra en tu carrito</h5>
                            <form class="mb-3" action="/sale/cart" method="get">
                                <button class="btn btn-success btn-lg text-white" type="submit">
                                    Ir al carrito
                                </button>
                            </form>
                            <a class="mb-3 " href="/products">Seguir buscando más clases</a>
                            <% } else if(!profile) { %>
                            <form class="mb-3 " action="/" method="get">
                                <button class="btn btn-success btn-lg text-white" type="submit">
                                    Iniciá sesión para comprar
                                </button>
                            </form>
                            <% } else { %>
                            <form action="/sale/addToCart?classId=<%=classSel.id%>&profileId=<%= profile.id %> "
                                method="post">
                                <button class="btn btn-success btn-lg text-white" type="submit">
                                    Agregar al carrito
                                </button>
                            </form>
                            <% } %>
                        </div>
                        <h5>Esta clase incluye</h5>
                        <ul>
                            <li>
                                <%= classSel.duracionVideoHoras %>
                                <% if(classSel.duracionVideoHoras / 1 > 1) { %>
                                <span>horas</span>
                                <% } else { %>
                                <span>hora</span>
                                <% } %>
                                de video
                            </li>
                            <% if(classSel.interactive.bonus.location) { %>
                            <li>Material extra descargable</li>
                            <% } %>
                            <li>Acceso de por vida</li>
                            <% if(classSel.responsive) { %>
                            <li>Acceso en dispositivos móviles</li>
                            <% } %> <% if(classSel.certificado) { %>
                            <li>Certificación de finalización</li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>

</html>