<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head") %>
    <!-- <script src="/script/imgInputPreview.js"></script> -->
</head>

<body>
    <header><%- include("./partials/header") %></header>

    <main class="container-c-fluid">
        <section class="row">
            <%- include("./partials/partials-profile/personal-data") %>
            <%- include("./partials/partials-profile/progress-bar") %>
            <% children.forEach(function(child){ %>
            <%- include("./partials/partials-profile/profile-card", {child: child}); %>
            <% }); %>

        </section>
        <div id="profiles-cards"></div>
    </main>
</body>

</html>