<!DOCTYPE html>
<html lang="es">

<head>
    <%- include("./partials/head") %>
    <script src="/script/imgInputPreview.js"></script>
</head>

<body>
    <header><%- include("./partials/header") %></header>

    <main class="container-c-fluid">
        <section class="row">
            <%- include("./partials/partials-profile/personal-data") %>

            <% children.forEach(function(child){ %>
            <%- include("./partials/partials-profile/profile-card", {child: child}); %>
            <% }); %>
            <article class="col-12 col-md-6  mb-3">
                <div class="container-c ">
                    <h2>
                        Agregá un nuevo perfil
                    </h2>
                    <div class="item">
                        <form action="/user/registerProfile" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-upload text-center mb-3">
                                        <label for="avatar" class="form-label">
                                            <img class="img-thumbnail rounded-circle " id="avatarChildImg"
                                                src="/img/avatars/default-avatar.png" alt="avatar" />
                                            <div>Seleccioná el avatar</div>
                                        </label>
                                        <div class="file-input-container-c">
                                            <input class="form-control  imgInput" type="file" id="avatar"
                                                placeholder="Avatar del hijo" name="avatar" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 d-flex flex-column justify-content-between">
                                    <div>
                                        <div class="form-floating">
                                            <input class="form-control" type="text" name="name" id="name"
                                                placeholder="Nombre de usuario del hijo" />
                                            <label for="name">
                                                Nombre del hijo
                                            </label>
                                        </div>
                                        <select class="form-select align-self-start my-3" aria-label="select año"
                                            name="gradeId">
                                            <option disabled selected>Seleccioná el año</option>
                                            <% for(let grade of grades) {%>
                                            <option value=<%= grade.id %>>
                                                <%= grade.name %>
                                            </option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <button class="btn btn-success btn-lg button-right my-3 align-self-end"
                                        type="submit">Crear
                                        perfil</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <%- include("./partials/footer") %>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/script/confirmDelete.js"></script>
</body>

</html>