<article class="col-12 col-md-6 cursos-main padding-10">
    <div class="clases-main-container padding-10">
        <p class="pt-3  fw-bolder">¿No tenés cuenta?</p>
        <h2 class="">Registrate</h2>
        <div class=" bg-shadow-pill padding-10">
            <form class="padding-10" action="/user/register" method="post">
                <div class="form-floating my-3 text-start">
                    <input class="form-control" type="text" name="userName" id="userName"
                        placeholder="Nombre de usuario" value="<%= old && old.userName ? old.userName : "" %>" />
                    <label class="text-shadow" for="userName">Nombre de usuario</label>
                    <% if(errors && errors.userName) { %>
                    <p class="feedback "><%= errors.userName.msg %> </p>
                    <% } %>
                </div>
                <div class="form-floating my-3 text-start">
                    <input class="form-control" type="email" name="userEmail" id="userEmail"
                        placeholder="Nombre de usuario" value="<%= old && old.userEmail ? old.userEmail : "" %>" />
                    <label class="text-shadow" for="userEmail">Correo electrónico</label>
                    <% if(errors && errors.userEmail) { %>
                    <p class="feedback "><%= errors.userEmail.msg %> </p>
                    <% } %>
                </div>
                <div class="form-floating my-3 text-start">
                    <input class="form-control" type="password" name="userPassword" id="userPassword"
                        placeholder="Contraseña" />
                    <label class="text-shadow" for="userPassword">Contraseña</label>
                    <% if(errors && errors.userPassword) { %>
                    <p class="feedback "><%= errors.userPassword.msg %> </p>
                    <% } %>
                </div>
                <button class="ms-primary-btn " type="submit">
                    Registrarse
                </button>
            </form>
        </div>
    </div>
</article>
<article class="col-12 col-md-6 cursos-main padding-10">
    <div class="clases-main-container padding-10">
        <p class="pt-3  fw-bolder">¿Ya tenés cuenta?</p>
        <h2 class="">Ingresá</h2>
        <div class=" bg-shadow-pill padding-10">
            <form class="padding-10" action="/user/login" method="post">
                <div class="form-floating my-3">
                    <input class="form-control" type="email" name="userEmail" id="userEmail"
                        placeholder="Nombre de usuario" value="<%= old && old.userEmail ? old.userEmail : "" %>" />
                    <label class="text-shadow" for="userEmail">Correo electrónico</label>
                </div>
                <div class="form-floating my-3">
                    <input class="form-control" type="password" name="userPassword" id="userPassword"
                        placeholder="Contraseña" />
                    <label class="text-shadow" for="userPassword">Contraseña</label>
                </div>
                <div class="float-left checkbox mb-3 text-start">
                    <input type="checkbox" value="rememberMe" name="rememberMe" />
                    <label>Recordarme</label>
                </div>
                <div class="text-start">
                    <% if(errors && errors.invalidLogIn) { %>
                    <p class="feedback"><%= errors.invalidLogIn.msg %> </p>
                    <% } %>
                </div>
                <button class="ms-primary-btn " type="submit">
                    Ingresar
                </button>
            </form>
        </div>
</article>