<article class="col-12 col-md-6 mb-3">
    <div class="container-c">
        <p class="pt-3 fw-bolder small mb-0">¿No tenés cuenta?</p>
        <h2>Registrate</h2>
        <div class="shadow-pill">
            <form action="/user/register" method="post" id="register">
                <div class="form-floating my-3 text-start">
                    <input class="form-control" type="text" name="name" id="name" placeholder="Nombre de usuario"
                        value="<%= old && old.name ? old.name : "" %>" />
                    <label for="name">Nombre de usuario</label>
                    <p class="feedback d-none" id="nameError"></p>
                    <% if(errors && errors.name) { %>
                    <p class="feedback "><%= errors.name.msg %> </p>
                    <% } %>
                </div>
                <div class="form-floating my-3 text-start">
                    <input class="form-control" type="email" name="email" id="email" placeholder="Nombre de usuario"
                        value="<%= old && old.email ? old.email : "" %>" />
                    <label class="text-shadow" for="email">Correo electrónico</label>
                    <p class="feedback d-none" id="emailError"></p>
                    <% if(errors && errors.email) { %>
                    <p class="feedback "><%= errors.email.msg %> </p>
                    <% } %>
                </div>
                <div class="form-floating my-3 text-start">
                    <input class="form-control" type="password" name="pass" id="passReg" placeholder="Contraseña" />
                    <label class="text-shadow" for="passReg">Contraseña</label>
                    <p class="feedback d-none" id="passError"></p>
                    <% if(errors && errors.pass) { %>
                    <p class="feedback "><%= errors.pass.msg %> </p>
                    <% } %>
                </div>
                <button class="ms-primary-btn " type="submit">
                    Registrarse
                </button>
            </form>
        </div>
    </div>
</article>
<article class="col-12 col-md-6 mb-3 ">
    <div class="container-c ">
        <p class="pt-3  fw-bolder small mb-0">¿Ya tenés cuenta?</p>
        <h2>Ingresá</h2>
        <div class=" shadow-pill ">
            <form action="/user/login" method="post" id="login">
                <div class="form-floating my-3">
                    <input class="form-control" type="email" name="email" id="emailLog" placeholder="Nombre de usuario"
                        value="<%= old && old.email ? old.email : "" %>" />
                    <label class="text-shadow" for="emailLog">Correo electrónico</label>
                </div>
                <div class="form-floating my-3">
                    <input class="form-control" type="password" name="pass" id="passLog" placeholder="Contraseña" />
                    <label class="text-shadow" for="passLog">Contraseña</label>
                </div>
                <div class="float-left checkbox mb-3 text-start">
                    <input type="checkbox" value="rememberMe" name="rememberMe" />
                    <label class="text-white ">Recordarme</label>
                </div>
                <div class="text-start">
                    <% if(errors && errors.invalidLogIn) { %>
                    <p class="feedback"><%= errors.invalidLogIn.msg %> </p>
                    <% } %>
                </div>
                <button class="ms-primary-btn" type="submit">
                    Ingresar
                </button>
            </form>
        </div>
</article>